.seasonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: gray;
    padding: 10px;
    border-radius: 10px;
}

.seasonCard{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    padding: 5px;
    overflow: hidden;
    width: 100%;
}

.seasonInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: gray;
    padding: 10px;
    border-radius: 10px;
}

.posterImage1 {
    aspect-ratio: 9/14;
    height: 100px;
    width: 75px !important;
}


h3, h2, h4{
    color: gray;
    font-weight: 800;
    justify-content: center;
    display: flex;
}

.tvHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}